 @mixin font($alias, $name, $weight) {
  @font-face {
    font-family: $alias;
    src: url("~static/fonts/" + $name + ".woff2") format("woff2");
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }
}

@mixin xs {
  @media (max-width: 576px) { @content; }
}
@mixin sm {
  @media (max-width: 768px) { @content; }
}
@mixin md {
  @media (max-width: 992px) { @content; }
}
@mixin lg {
  @media (max-width: 1200px) { @content; }
}

@mixin xl {
  @media (max-width: 1400px) { @content; }
}
