:root {
  // colors
  --base_0: #fcfcfc;
  --base_50: #f3f4f6;
  --base_100: #C6CED6;
  --base_200: #99a7b5;
  --base_300: #677b8f;
  --base_500: #012345;
  --base_600: #011c37;

  --switched_main_400: #4959ff;
  --main_400: #4959ff;


  --secondary_400: #f84ab3;
  --secondary_500: #f61d9f;

  // font sizes
  --font_size_smallest: 12px;
  --font_size_tiny: 14px;
  --font_size_default: 16px;
  --font_size_medium: 18px;
  --font_size_medium_increase: 20px;
  --font_size_big_decrease: 22px;
  --font_size_big: 24px;
  --font_size_largest: 40px;

  // font weight
  --font_weight_medium: 300;
  --font_weight_bold: 700;

  // border radius
  --border_radius_micro: 8px;
  --border_radius_mini: 12px;
  --border_radius_tiny: 16px;
  --border_radius_small: 24px;
  --border_radius_medium: 32px;
  --border_radius_big: 48px;

  // margins and gaps
  --gap: 32px;
  @include lg {
    --gap: 20px;
  }
  @include sm {
    --gap: 16px;
  }

  --margin_detailed_sections_vertical: 32px;
  --margin_form_elements: 24px;

  @include md {
    --margin_detailed_sections_vertical: 16px;
  }

  @include sm {
    --margin_form_elements: 16px;
  }


  // padding
  --padding_list: 64px;
  --padding-mobile-content: 16px;

  @include sm {
    --padding_list: 40px;
  }
}

.dark-mode {
  --base_0: #012345;
  --base_50: #011c37;
  --base_100: #4959ff;
  --base_300: #99a7b5;
  --base_500: #fcfcfc;
  --base_600: #011c37;
  --switched_main_400: #7383ff;
}
