:root { 
  // colors
  --base_0: #FCFCFC;
  --base_50: #F3F4F6;
  --base_200: #99A7B5;
  --base_300: #677B8F;
  --base_500: #012345;
  --base_600: #011C37;

  --main_400: #4959FF;

  --secondary_400: #F84AB3;
  --secondary_500: #F61D9F;

  // font sizes
  --font_size_smallest: 12px;
  --font_size_tiny: 14px;
  --font_size_default: 16px;
  --font_size_medium: 18px;
  --font_size_medium_increase: 20px;
  --font_size_big_decrease: 22px;
  --font_size_big: 24px;
  --font_size_largest: 40px;

  // font weight
  --font_weight_medium: 300;
  --font_weight_bold: 700;

  // border radius
  --border_radius_micro: 8px;
  --border_radius_mini: 12px;
  --border_radius_tiny: 16px;
  --border_radius_small: 24px;
  --border_radius_medium: 32px;
  --border_radius_big: 48px;

  // margin
  --margin_card_horizontal: 32px;
  --margin_card_vertical: 32px;
}

