//@import "./assets/styles/shared/_mixins.scss";
//
//@include font("Codec Pro", "CodecPro/CodecPro-News", normal);


@font-face {
  font-family: "Codec Pro";
  src: url('./assets/styles/fonts/CodecPro-News.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}