@import "fonts/fonts.scss";
@import "shared/_variables.scss";
@import "vendors/nuxt-icon.scss";

* {
  font-family: "Codec Pro", sans-serif;
}

p,h1,h2 {
  margin: 0;
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--base_200);
  border-radius: var(--border_radius_micro);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--base_300);
}

html {
  padding-left: calc(100vw - 100%);
  background: var(--base_0);
  scroll-behavior: smooth;
}

body {
  width: 100vw;
}

html > body {
  background: var(--base_0);
}

.no-scroll {
  overflow: hidden;
}


.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.page__nested-enter-active,
.page__nested-leave-active {
  transition: all 0.4s;
}
.page__nested-enter-from,
.page__nested-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.Toastify__toast-container > .notification {
  border-radius: var(--border_radius_micro);
  font-weight: var(--font_weight_bold);
}


:deep(.ant-input),
:deep(.ant-select .ant-select-selector) {
  background-color: var(--base_50);
  font-size: var(--font_size_default);
  font-weight: var(--font_weight_medium);
  color: var(--base_300) ;
}

